<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeLISHfyM0KEEC_QB9JGXzgpsM_oBib34</string>
	<key>GCM_SENDER_ID</key>
	<string>297794678098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.varadasainikhil.ThingsToDo</string>
	<key>PROJECT_ID</key>
	<string>thingstodo-86ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>thingstodo-86ccb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297794678098:ios:574d67b2c4ab1062b69e8b</string>
</dict>
</plist>